@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Urbanist", Courier, monospace;
}

.form {
  @apply w-full max-w-sm p-8 space-y-6 text-left;
}

.input-text {
  @apply py-2 border-2 text-black mb-4 rounded-xl p-4;
}

.btn-primary {
}

.input-form {
  @apply w-full rounded-lg border px-4 py-4 focus:outline-none focus:ring-2 focus:ring-blue-200 bg-gray-100 font-bold text-black;
}

.main-btn {
  background: linear-gradient(to right, #151516, #2e2b33);
  color: white;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 0.875rem;
}

.main-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(99, 102, 241, 0.4);
}

.secondary-btn {
  background: linear-gradient(to right, #151516, #2e2b33);
  color: white;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 0.875rem;
}

.secondary-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(99, 102, 241, 0.4);
}
